fastapi[standard]==0.141.1
uvicorn[standard]==0.52.3

SQLAlchemy==2.0.52
PyMySQL==1.2.0

python-dotenv==1.2.3
pydantic-settings==2.15.0

python-jose==3.5.0

pytest-httpx==0.36.2
httpx==0.28.1
alembic==1.16.5

passlib[bcrypt]==1.7.4
bcrypt==4.3.0

python-multipart>=0.0.20